.firstPage{
    height: 100vh;
    background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(201,146,255,1) 0%, rgba(158,155,255,1) 50%, rgba(105,229,255,1) 100%);
}

.custom-nav{
    margin-top: 20px;
    position: sticky;
    color: white;
    max-width: 1000px;
    margin: auto;
}

.btn-custom-start{
    border: 1px solid blue;
}

.fp-col{
    margin-top: 100px;
    padding: 35px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:wght@300&display=swap');


.fly{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
    text-align: left;
}

.fly-text{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 10px;
}

.box-sign-up{
    background-color: white;
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.btn-signup{
    margin-top: 25px;
    width: 70%;
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,91,235,1) 0%, rgba(138,112,255,1) 50%, rgba(22,211,251,1) 100%);
    border: 0px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

.secondPage{
    height: 110vh;
    background-color: #f3f3fb;
}

.featureBox{
    margin: auto;
}

.feature-icon{
    width: 50px;
    height: auto;
}

.thirdPage{
    height: 100vh;
    margin-top: 50px;
}

.fourthPage{
    height: 100vh;
    background-color: #f3f3fb;
    padding-top: 100px;
}

.fifthPage{
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    width: 60%;
    margin: auto;
}

.sixthPage{
    background-color: #f3f3fb;
    height: 100vh;
    padding-top: 50px;
    text-align: center;
}

.planBox{
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 100px;
    padding: 3%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* height: 100px; */
}

.planBox:hover{
    box-shadow: rgba(125, 181, 255, 0.25) 0px 54px 55px, rgba(122, 213, 255, 0.12) 0px -12px 30px, rgba(90, 255, 255, 0.12) 0px 4px 6px, rgba(116, 239, 255, 0.17) 0px 12px 13px, rgba(105, 255, 243, 0.09) 0px -3px 5px;
}

.seventhPage{
    height: 100vh;
    padding-top: 50px;
    text-align: center;
}

.eighthPage{
    height: 100vh;
    padding-top: 50px;
    background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(201,146,255,1) 0%, rgba(158,155,255,1) 50%, rgba(105,229,255,1) 100%);
}

.fly-2{
    font-size: 30px;
}

.ep-col{
    vertical-align: middle;
}

.ninthPage{
    height: 200px;
    text-align: center;
}